@font-face {
    font-family: VCRmono;
    src: url(VCR_OSD_MONO.ttf);
}
/* ------------------------------------ */
::selection {
    background: #ff0000; /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: #ff0000; /* Gecko Browsers */
  }
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
html {
    cursor: crosshair;
}
body {
    background-color: black;
    margin: 0;
}
/* BACKGROUND */
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
#bg img {
    image-rendering: pixelated;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
/* ----------- */
/* FOOTER */
/* ------ */
#pmenuback:hover {
    background-color: red;
}
/* JENNA LOGO */
#jenna-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#jenna {
    z-index: 3;
    cursor: pointer;
    margin: auto;
    mix-blend-mode: difference;
    width: 100%;
}
/* ---------- */
/* NEW NAV */
nav {
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    max-width: 400px;
    flex-wrap: wrap;
}
nav img {
    width: 100%;
    opacity: .8;
}
nav a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5em;
    width: 3em;
}
nav a span {
    background-color: rgba(0, 0, 0, 0);
    padding: .2em;
    color: rgba(0, 0, 0, 0);
    font-size: .8em;
    font-family: VCRMono;
}
nav a:hover span {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
}
/* -------- */

/* GLOBE NAV MENU BUTTON */
#globe {
    padding: 1px;
    width: 40px;
    height: 40px;
    margin: 1em;
}
#globe:hover {
    border: 2px solid red;
}
/* --------------------- */
/* HOME CONTENT WRAPPER / CONTENTS */
#content-wrapper {
    pointer-events: none; 
    z-index: 0;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 50fr 1fr;
    width: 100%;
    height: 100%;
}
#content-wrapper article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#content-wrapper article p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: monospace;
    text-align: left;
    font-size: 1.1em;
    padding: 5px;
    width: 200px;
    height: fit-content;
}
#exit-wrapper {
    z-index: 0;
    position: sticky;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
}
#exit-wrapper article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#exit-wrapper article p {
    background-color: rgba(0, 0, 0, 0.5);
    color: #00ff00;
    font-family: monospace;
    text-align: left;
    font-size: 1.1em;
    padding: 5px;
    width: 200px;
    height: fit-content;
}
#radio {
    background-color: rgba(255, 0, 0, 0.5);
    width: 200px;
    height: 75px;
    border: 2px solid black;
}
/* ------------------------------- */
/* VIDEO CONTAINER / CONTENTS */
#video-main {
    position: absolute;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}
#exit {
    position: sticky;
    top: 0;
    mix-blend-mode: exclusion;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
}
#video-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
#video-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1242px;
    width: 90vw;
    justify-content: space-evenly;
    align-items: center;
}
#video-container article {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 270px;
}
#video-container a {
    text-decoration: none;
}
#video-container article .thumbnail {
    width: 100%;
    border: 5px solid rgba(0, 0, 0, 0.7);

}
#video-container article span {
    font-family: VCRMono;
    font-size: 1.1em;
    padding: 3px;
    text-align: center;
    mix-blend-mode: normal;
    background-color:rgba(0, 47, 255, 0.5);
    color: white;
}
#video-container article:hover .thumbnail{
    border: 5px solid rgba(0, 47, 255, 0.7);
}
/* -------------------------- */
/* INDIVIDUAL VIDEO */
#svideo-container {
    width: 100%;
    position: absolute;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
#svideo-container iframe {
    width: 80vw;
    height: 80vh;
}
#svideo-container p {
    padding: 5px;
    width: 640px;
    margin: 0;
    text-align: left;
    color: white;
    font-family: VCRMono;
}
/* ---------------- */
/* SLIDESHOW CONTAINER / CONTENTS */
#image-wrapper {
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vw;
}
.image-wrap {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    width: 90vw;
    display: flex;
    flex-direction: row;
}
.image-container {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img {
    max-width: 96vw;
    max-height: 80vh;
}
/* ----------------------------- */

/* TICKER */

/* ------ */
/* PHOTO MENU / CONTENTS */
#photo-menu {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 275px 1fr;
    position: absolute;
    justify-content: center;
    align-items: center;
}
#photo-menu div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    background-color: blue;
}
#photo-menu div span {
    font-family: VCRmono;
    font-size: 1em;
    color: white;
}
#photo-menu div a {
    font-family: VCRmono;
    font-size: 1em;
    margin: 0 0 .2em 0;
    color: white;
    width: 100%;
    background-color: none;
    text-decoration: none;
}
#photo-menu div a:hover {
    color: blue;
    background-color: white;
}
#photo-menu button {
    height: 100%;
    background: none;
    border: none;
}
#photo-menu button:hover{cursor:context-menu;}
#pthumbnail-container {
    position: absolute;
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}
#pthumbnail-container img {
    max-height: 85vh;
}
/* @media screen and (max-width: 1066px) {
    #exit {
        position: sticky;
        top: 0;
    }
} */
@media screen and (max-width: 1072px) {
    #video-main {
        grid-template-rows: .2fr 1fr;
    }
    #exit a{
        padding: 2em;
    }
    #photo-menu {
        grid-template-columns: 1fr 80vw 1fr;
    }
    #photo-menu div {width: auto;}
    #photo-menu div a {
        text-align: center;
        width: auto;
        padding: .5em;
        margin: 0 0 .5em 0;
        border: solid white 2px;
    }
    #photo-menu div span {
        color: blue;
        background-color: white;
        text-align: center;
    }
    #image-wrapper {
        transform: none;
        height: auto;
    }
    .image-wrap {
        transform: none;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}
@media screen and (max-width: 750px) {
    nav a span {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #video-main {
        grid-template-rows: .1fr 1fr;
    }
}
@media screen and (max-width: 400px) {
    nav a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
        margin: .5em;
        width: 2.5em;
    }
    nav a span {
        padding: .1em;
        font-size: .7em;
        font-family: VCRMono;
    }
    #content-wrapper article {
        font-size: .8em;
    }
}
